:root{
	--purple: #8000EE;
	--yellow: #F6DA00;
}


*, *::after, *::before{
	box-sizing: border-box;
}

@font-face {
	font-family: ness;
	src: url("../assets/ness.ttf");
}

body {
	background: url("../assets/bojack-wallpaper-light.jpg");
	background-size: cover;
	font-family: ness, sans-serif;
}

.header{
	background: url("../assets/logo.png");
	background-size: contain;
	width: 400px;
	height: 149px;
}

.tab-container{
	position: fixed;
	top: 30vh;
	left: 10px;
	width: 200px;
	height: 250px;
	border-radius: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 10px;
	letter-spacing: 3px;

	padding-left: 30px;
	font-size: 36px;
	color: white;
	text-shadow: 3px 2px black;
	font-weight: 700;


	p{
		cursor: pointer;
	}

	p:hover{
		color: #F6DA00;
	}

}

.svg-container{
	background: url("../assets/dark-mode.svg");
	background-size: cover;
	position: fixed;
	width: 100px;
	height: 100px;
	top: 10px;
	right: 10px;
}

button{
	cursor: pointer;
	padding: 10px 40px;
	background-color: var(--yellow);
	border: 3px solid black;
	border-radius: 20px;

}

dialog{
	color: white;
	border: 3px solid black;
	border-radius: 40px;
	text-shadow: 2px 1px black;
	letter-spacing: 3px;
	font-weight: 700;
	padding: 40px;

	*:not(h1){
		font-size: 26px;
	}

	a{
		display: block;
		color: white;
	}
	a:hover{
		color: #F6DA00;
	}

	h1{
		font-size: 36px;
		text-shadow: 3px 2px black;
	}

	button{
		margin-top: 20px;
	}
}

dialog.about-tab{
	width: 800px;
	height: 450px;
	top: 25vh;
	background-color: cornflowerblue;
}


// For dark theme
body.dark{
	background: url("../assets/bojack-wallpaper-dark.jpg");
	background-size: cover;
	
	.svg-container{
		background: url("../assets/light-mode.svg");
		background-size: cover;
		filter: invert(100%) sepia(91%) saturate(0%) hue-rotate(64deg) brightness(111%) contrast(100%);
	}

	.about-tab{
		background-color: #8000EE;
	}
}
